@import url('main.css');
#form, .thank-you-card{
    background:linear-gradient(120deg, var(--blue-light), var(--blue) 90.71%);
    height: 30rem;
    width: 88%;
    max-width: 25.5rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem var(--dark-blue);
    padding:  1.55rem;
    flex-direction: column;
    justify-content: space-between;
}
.form{
    display: flex;
    transition: display ease-in-out 5s;
}
.form-sent{
    display: none;
    opacity: 0;
}
#submit{
    background:var(--primary);
    border: none;
    box-shadow: 0.1rem 0.1rem 1rem var(--blue);
    border-radius: 1.6rem;
    padding: 0.8rem;
    font-family: 'Overpass', sans-serif;
    color: var(--white);
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    letter-spacing: 0.15rem;
}
.star-icon-bg{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--blue-light);
    box-shadow: 0.1rem 0.1rem 1rem var(--blue);
}
.star-icon{
    position: absolute;
    width: 2.5rem;
    padding: 0.8rem;
    animation: star 2s ease-in-out infinite;
}
.description{
    color: var(--light-gray);
}
.options{
    display: grid;
    grid-auto-flow: column; 
    width: 100%;
    margin-bottom: 1.2rem;
}
.options input[type="radio"] {
    opacity: 0;
    position: absolute;
}
.options input[type="radio"] + label::after  {
    content: none;
}
.options input[type="radio"]:checked + label::after  {
    content: "";
}
.options input[type="radio"]:checked + label span{
    color: var(--white);
}
.options input[type="radio"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
.options input[type="radio"]:focus + label span{
    color: var(--white);
}
.options label{
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    justify-content: center;
    margin-left: 1rem;
}
.options label:nth-of-type(1){
    margin-left: 0;
}
.options input[type="radio"]:hover + label::before{
    transition: .3s ease-in-out;
    background-color: var(--gray);
}
.options input[type="radio"]:hover + label span{
    color: var(--white);
}
.options label::before,
.options label::after{
    position: absolute;
}
.options label::before{
    top: -.55rem;
    left: 0rem;
    content: "";
    display: inline-block;
    height:  2rem;
    width:  2rem;
    background: var(--blue-light);
    border-radius: 50%;  
}
.options label::after{
    left: 0rem;
    top:-.55rem;
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background: var(--primary); 
    border-radius: 50%;  
} 
span{
    position: absolute;
    top: 0rem;
    left: .8rem;
    z-index: 1;
    color: var(--light-gray);
    font-size: 0.8rem;
}

@keyframes star {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    0% {
        transform: scale(1);
      }
 }
 @media only screen and (min-width:20rem){
    #form, .thank-you-card{
        height: 22.3rem;
        padding:  1.55rem;
    }
    .options label::before{
        height:  2.7rem;
        width:  2.7rem; 
    }
    .options label::after{
        height: 2.7rem;
        width: 2.7rem;
    }
    span{
        top: 0.4rem;
        left: 1.1rem;
        font-size: 0.95rem;
    }
 }
 @media only screen and (min-width:30rem){
    #form, .thank-you-card{
        height: 26rem;
        border-radius: 1.8rem;
        padding: 2rem 1.8rem;        
    }
    .star-icon-bg{
        width: 3rem;
        height: 3rem;
    }
    .star-icon{
        width: 3rem;
        padding: 1rem;
    }
    .options label::before{
        height: 3.2rem;
        width: 3.2rem;
    }
    .options label::after{
        height: 3.2rem;
        width: 3.2rem;
    } 
    span{
        top: 0.6rem;
        left: 1.35rem;
    }
    #submit{
        font-size: 1rem;
    }
 }
