@import url('main.css');
.thank-you-card{
    text-align: center;
    padding: 3rem 1.75rem;
}
.thank-you-icon{
    width: 10rem;
    margin: 0 auto;
}
.thank-you-description{
    color: var(--light-gray);
    font-size: 0.97rem;
}
.final-score-description{
    background:var(--blue-light);
    height: auto;
    width: 12rem;
    padding: .4rem;
    border-radius: 1.5rem;
    color: var(--primary-light);
    font-size: 0.9rem;
    margin: 0 auto;
}